*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior:smooth;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
    --bg-color: #1d1818;
    --second-bg-color:#462a3c;
    --text-color: #ece3e3;
    --main-color: rgb(202, 71, 97);

}

@keyframes color-change {
    0% { color: var(--text-color); }
    50% { color: var(--main-color);}
    100% { color: var(--text-color); }
}
html{
    font-size: 10px;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
}
header{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    padding: 1.5rem 5% 3rem 5%;
    background-image: linear-gradient(180deg, var(--second-bg-color), var(--bg-color) );
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.about{
    padding:10rem 9%;
    font-size: 2rem;
}
.portlogo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 600;
    cursor:default;
}
.navbar a{
    font-size: 1.7rem;
    color:var(--text-color);
    margin-left: 4rem;
    transition: .5s;
}
.navbar a:hover{
    color:var(--main-color);
    font-size: 2rem;
}
#metul{
    font-size: 4rem;
    transition: .8s;
}
#metul:hover{
    color:var(--main-color);
}
.linkicons{
    size: 10rem;
    font-size: 30px;
    color: #df5959;
    transition: .5s;
}
.linkicons:hover{
    font-size: 35px;
}